@CHARSET "UTF-8";

body {
    color: #1a1a1a;
    background: #fff;
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.6;
}

h2, h3 {
    font-weight: bold;
}

a {
    color: #1a1a1a !important;
    text-decoration: none !important;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

ol {
    padding-left: 15px;
}

img {
    display: none !important;
}

.rpr-columns-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 1rem;
    margin: 0 0 2em 0;
}

.rpr-columns-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    margin: 0 0 2em 0;
}








/* Don't print the "Print" button */
.print-link {
    display: none;
}
