/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}

.rpr-carousel {
    max-width: 1170px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in;
    -webkit-transition: opacity 1s ease;
    padding: 0 1em;
}

.rpr-carousel.slick-initialized {
    margin: 0 0 2em 0;
    visibility: visible;
    opacity: 1;
}

.rpr-carousel-item {
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow .2s ease-in;
}

.rpr-carousel-item:hover {
    box-shadow: 2px 1px 8px 2px #00000017;
}

.rpr-carousel-item img {
    display: inline-block;
    border-radius: 4px;
}

.rpr-carousel-item p {
    display: inline-block;
    float: right;
    width: calc( 100% - 55px );
    line-height: 1.2;
    margin: 5px 0 0 0;
    overflow: hidden;
    max-height: 2.4em;
}

.slick-prev:before, .slick-next:before {
    font-size: 25px;
    color: #4caf50;
}
