/**
 * All of the CSS for your admin-specific functionality should be included in this file.
 *
 * The file is enqueued from inc/admin/class-admin.php.
 */

tr.rpr_recipe_template > td {
    display: flex;
    flex-wrap: wrap;
}

tr.rpr_recipe_template > td .template-options img.template-label-image.checked {
    border: 5px solid #8BC34A;
    box-sizing: border-box;
}

tr.rpr_recipe_template > td .template-options .label-container p {
    line-height: 1;
}

tr.rpr_recipe_template > td .template-options {
    margin: 0 1em 1em;
    position: relative;
}

tr.rpr_recipe_template > td input[type=radio] {
    display: none;
}

tr.rpr_recipe_template > td .template-options .label-container {
    height: 255px;
    overflow: hidden;
    position: relative;
}

tr.rpr_recipe_template img.template-label-image {
    width: 150px;
    height: 255px;
}

tr.rpr_recipe_template .template-label-info {
    position: absolute;
    width: 100%;
    bottom: -25px;
    height: 30px;
    transition: cubic-bezier(0.55, 0.06, 0.68, 0.19) 0.2s;
}

tr.rpr_recipe_template .template-label-p {
    background: #8BC34A;
    padding: 5px 10px;
    color: #fff;
    margin: 0;
}

tr.rpr_recipe_template .label-container:hover .template-label-info {
    transform: translateY(-62px);
}


#general_tab h2.hndle,
#ingredient_tab h2.hndle,
#taxonomy_tab h2.hndle,
#metadata_tab h2.hndle,
#units_tab h2.hndle,
#appearance_tab h2.hndle,
#advanced_tab h2.hndle,
#components_tab h2.hndle{
    display: none;
}

#general_tab th,
#ingredient_tab th,
#taxonomy_tab th,
#metadata_tab th,
#units_tab th,
#appearance_tab th,
#advanced_tab th,
#components_tab th{
    padding: 10px;
}

td hr {
    display: none;
}

tr.rpr-table-header th {
    background: #efefef;
    border: 1px solid #efefef;
    text-align: center;
    font-size: 16px;
}

tr.rpr-table-header td {
    border-bottom: 2px solid #efefef;
}


tr.rpr_slug_instructions.rpr-table-instruction p {
    color: #FF9800;
    background: #fff8e2;
    padding: 10px;
    font-size: 12px;
}


.rpr-settings-label {
    font-size: 12px;
    color: #909090;
    font-style: italic;
}

.rpr-settings-label:hover {
    color: #313131;
}

.has-link {
    color: green !important;
}

#slugdiv input#post_name {
    width: 100%;
}

.rpr.notice {
    display: grid;
    grid-template-columns: auto 115px;
}

.rpr-update-notice {
    display: inline-block;
}

.rpr-update-button {
    color: white;
    background-color: #FF9800;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.rpr-update-button:hover {
    color: #FF9800;
    background-color: #fff;
    border: 1px solid;
}

.rpr-hidden {
    visibility: hidden;
    display: none;
}

#dashboard_right_now li a.rpr_recipe-count:before,
#dashboard_right_now span.rpr_recipe-count:before {
    content: '\f511';
}

.rpr.update-message + p {
    display: none;
}

.rpr.text-25 {
    width: 25%;
}

.rpr.text-50 {
    width: 50%;
}

.rpr.text-75 {
    width: 75%;
}

.rpr.text-100 {
    width: 100%;
}

.rpr.inline-row {
    display: flex;
}

.rpr.inline-inputs {
    flex: 0 1 24%;
    margin: 0 1em 0 0;
}

.rpr.inline-inputs input {
    width: 100%;
}
