table#recipe-instructions {
    width: 100%;
    border-spacing: 2px;
    table-layout: auto;
    vertical-align: middle;
}

tr.rpr-ins-row {

}

tr.rpr-ins-row td {
    position: relative;
}

td.rpr-ins-sort {
    width: 32px;
    cursor: grab;
}

td.rpr-ins-instruction {
    width: 85%;
}

td.rpr-ins-del button {
    width: 28px;
    padding: 0 7px 1px !important;
}

td.rpr-ins-instruction textarea {
    width: 100%;
}

td.rpr-ins-image {
    min-width: 100px;
    background-color: #efefef;
    border-radius: 4px;
    overflow: hidden;
}

.rpr-ins-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88px;
    cursor: pointer;
    color: #9e9e9e;
}

.rpr-ins-image-wrapper a {
    color: #fff;
    text-shadow: 1px 2px 5px #00000061;
}

td.rpr-ins-image img {
    width: 100%;
    display: block;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

tr.instruction-group input {
    width: 66%;
}

.rpr-ins-image-del {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    padding: 5px;
    background-color: #0000004f;
    border-radius: 50%;
}

#rpr-ins-add-row-ins,
#rpr-ins-add-row-grp {
    display: inline-flex;
    align-items: center;
}

#rpr-ins-add-row-ins span,
#rpr-ins-add-row-grp span {
    margin: 0 5px 0 0;
}
