.rpr-favorite-item {
    position: relative;
    margin: 2em 0;
    border-radius: 5px;
    clear: left;
    /*max-height: 160px;
    overflow: hidden;*/
}

.rpr-favorite-thumbnail {
    overflow: hidden;
    height: 150px;
    width: 150px;
    display: inline-block;
    background-color: #f0f4f5;
    border-radius: 5px;
    float: left;
}

.rpr-favorite-info {
    padding: 0 0 1em 1em;
    margin: 0 4em 0 0;
    width: calc(100% - 215px);
    display: inline-block;
}

.rpr-favorite-info h2 {
    font-size: 1.6em;
    margin: 10px 0 10px 0;
    line-height: 1;
}

.rpr-favorite-thumbnail img {
    width: 100%;
    margin: 0;
    display: block;
    border-radius: 5px;
}

.rpr-favorite-info p {
    margin: 0;
    line-height: 1.4;
    font-size: 1em;
}

.rpr-favorite-remove,
.rpr-favorite-email {
    cursor: pointer;
    position: absolute;
    right: 10px;
    line-height: 1;
    color: #fff;
    width: 25px;
    height: 25px;
    background-color: #4a4a4a;
    border-radius: 50%;
}

.rpr-favorite-remove {
    top: 10px;
}

.rpr-favorite-email {
    top: 45px;
}

.rpr-favorite-remove i,
.rpr-favorite-email i {
    position: absolute;
    top: 4px;
    left: 1px;
}

.rpr-favorite-empty {
    text-align: center;
    margin: 4em 0 0 0;
}

/* Mobile */
@media (max-width: 320px) {
    .rpr-favorite-thumbnail {
        width: 100%;
    }
    .rpr-favorite-info {
        width: 100%;
    }
    .rpr-favorite-info p {
        display: none;
    }
}

/* Larger than mobile */
@media (max-width: 400px) {
    .rpr-favorite-item {
        margin: 1em 0 1em 0;
    }
    .rpr-favorite-thumbnail {
        width: 25%;
        height: auto;
    }
    .rpr-favorite-info {
        padding: 0 0 1em 10px;
        width: 70%;
        margin: 0;
    }
    .rpr-favorite-info h2 {
        font-size: 1.2em;
        margin: 0;
    }
    .rpr-favorite-info p {
        display: none;
    }
    .rpr-favorite-info span {
        font-size: 12px;
    }
}

/* Larger than phablet */
@media (max-width: 550px) {
    .rpr-favorite-item {
        margin: 1em 0 1em 0;
    }
    .rpr-favorite-thumbnail {
        width: 25%;
        height: auto;
    }
    .rpr-favorite-info {
        padding: 0 0 1em 10px;
        width: 70%;
        margin: 0;
    }
    .rpr-favorite-info h2 {
        font-size: 1.5em;
        margin: 0;
    }
    .rpr-favorite-info p {
        font-size: 14px;
        line-height: 1.2;
    }
    .rpr-favorite-info span {
        font-size: 12px;
    }
}

/* Larger than tablet */
@media (max-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
