.rpr-terms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 2em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.rpr-terms-container .rpr-tax-term a {
    box-shadow: none !important;
}

.rpr-term-list {
    margin: 0 10px 0 0;
}

.rpr-nutritional-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 2em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}

.rpr-nutritional-data div {
    margin: 0 10px 0 0;
}

.rpr-times-container .rpr-times {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 2em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.rpr-times-container .rpr-times div {
    margin: 0 10px 0 0;
}

.rpr-nutritional-data .nutrition-per {
    margin: 0 1em 0 0;
    flex: 0 0 100%;
}

.rpr-servings {
    margin: 0 0 1em 0;
    text-align: right;
}

.rpr-source-container {
    margin: 0 0 2em 0;
}

.rpr-source-container .rpr-source {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.rpr-source label {
    margin: 0 5px 0 0;
}

.rpr-ingredients-container ul {
    list-style: none;
}

.rpr-instruction-list .rpr-instruction {
    position: relative;
    clear: right;
    margin: 0 0 1.6em 2em;
    list-style-type: none !important;
    counter-increment: counter;
}

.rpr-instruction-list .rpr-instruction a {
    box-shadow: none !important;
}

.rpr-instruction-list .rpr-instruction::before {
    content: counter(counter);
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #333;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: -32px;
    font-weight: 800;
    font-size: 11px;
}

.rpr-instruction-wrapper.has_thumbnail.right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
}

h3.rpr-ingredient-group-title {
    padding: 0;
    margin: 1em 0;
}

.rpr-jump-print-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2em 0;
}

.rpr-jump-to-recipe,
.rpr-print-recipe {
    margin: 0 10px;
}

/* Small (x-sm) */
@media (max-width: 320px) {
    .rpr-jump-print-container {
        flex-direction: column;
    }
    .rpr-jump-to-recipe,
    .rpr-print-recipe {
        margin: 5px 0;
    }
    ol.rpr-instruction-list {
        margin: 0;
    }
    .rpr-instruction-wrapper {
        flex-wrap: wrap;
    }
    .rpr-instruction-list .rpr-instruction .rpr_img_link {
        margin: 0;
    }
}

@media (max-width: 640px) {
    .rpr-jump-print-container {
        flex-direction: column;
    }
    .rpr-jump-to-recipe,
    .rpr-print-recipe {
        margin: 5px 0;
    }
    ol.rpr-instruction-list {
        margin: 0;
    }
}

/* Medium (md) */
@media (max-width: 768px) {

}

/* Large (lg) */
@media (max-width: 1024px) {

}

/* Extra Large (xl) */
@media (max-width: 1280px) {

}
